---
layout: base.njk
---

<article class="post">
    <header class="post-header">
        <h1>{{ title }}</h1>
        {% if page.date %}<div>Published on : &nbsp {{ page.date | postDate }}</div>{% endif %}
    </header>
    <section class="post-body">
        {{ content | safe }}
    </section>
    {% set posts = collections.posts %}
    {% if posts and posts.length > 1 %}
        {% set currentPostUrl = page.url %}
        {% set currentIndex = -1 %}
        {% for post in posts %}
            {% if post.url == currentPostUrl %}
                {% set currentIndex = loop.index0 %}
            {% endif %}
        {% endfor %}
        {# Determine previous and next posts #}
        {% set previousPost = posts[currentIndex - 1] if currentIndex > 0 else null %}
        {% set nextPost = posts[currentIndex + 1] if currentIndex >= 0 and currentIndex < (posts.length - 1) else null %}
        {% if previousPost or nextPost %}
            <nav class="post-navigation" aria-label="Blog post navigation">
                <ul class="post-navigation-list">
                    <li class="post-navigation-item post-navigation-previous">
                        {% if previousPost %}
                            <span>Previous: &nbsp</span>
                            <a href="{{ previousPost.url | url }}" rel="prev">{{ previousPost.data.title }}</a>
                        {% endif %}
                    </li>
                    <li class="post-navigation-item post-navigation-next">
                        {% if nextPost %}
                            <span>Next: &nbsp</span>
                            <a href="{{ nextPost.url | url }}" rel="next">{{ nextPost.data.title }}</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        {% endif %}
    {% endif %}
</article>
