/* Blog Posts */
.post {
    margin-bottom: var(--spacing-lg);
    padding-bottom: var(--spacing-md);
    border-bottom: 1px solid var(--color-border);
}

.post:last-child {
    border-bottom: none;
    margin-bottom: var(--spacing-md);
}

.post-subtitle {
    font-style: italic;
    text-transform: capitalize;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.post-cta {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
