#header {
    top: 0;
    align-items: center;
    left: 0;
    right: 0;
    backdrop-filter: blur(8px);
    z-index: 50;
}

.navbar {
    padding: var(--spacing-xs) 0;
}

.header-container {
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 var(--spacing-sm);
    display: flex;
    align-items: center;
    justify-content: right;

}


/* Desktop nav links */
.nav-links {
    display: flex;
    gap: var(--spacing-md);
}


.nav-links a {
    position: relative;
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--plus-jakarta-sans);
    font-size: 1.2rem;
}

.nav-links a:hover {
    color: var(--color-accent);
    border-bottom-color: transparent;
    /* Add this line */
}

/* Mobile menu button */
.mobile-menu-button {
    display: none;
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
    padding: var(--spacing-xs);
}

#mobile-menu {
    display: none;
    flex-direction: column;
    background-color: hsl(from var(--color-secondary) h s l / 0.95);
    /* More opaque for legibility */
    border-top: 1px solid hsl(from var(--color-accent) h s l / 0.2);
    /* Consistent with header border */
}

#mobile-menu a {
    color: var(--text-color);
    text-decoration: none;
    padding: var(--spacing-sm);
    border-bottom: 1px solid hsl(from var(--color-accent) h s l / 0.2);
    /* Consistent with header border */
}

#mobile-menu a:last-child {
    border-bottom: none;
}

/* When menu is active */
#mobile-menu.active {
    display: flex;
}

/* Perfect scroll */
section[id] {
    scroll-margin-top: 120px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile-menu-button {
        display: block;
        margin-left: auto;
    }

    .logo img {
        display: none;
    }

    .logo a {
        font-size: 1.3rem;
    }

    section[id] {
        scroll-margin-top: 90px;
    }
}
