#hero {
    display: flex;
}

#hero .container {
    margin-top: 7vh;
    padding-right: 0.5rem;
}

#hero .image-container {
    margin: 90px auto;
}

#hero h1 {
    font-family: var(--oswald);
}

#hero h4 {
    font-style: italic;
}

@media (max-width: 768px) {
  .image-container {
    display: none;
  }
}
