#hero {
    display: flex;
}

#hero .container {
    margin-top: 7vh;
    padding-right: 0.5rem;
}

#hero .image-container {
    margin-top: 160px;
    margin-left: 30px;
}

#hero h1 {
    font-family: var(--font-sans);
}

#hero h4 {
    font-weight: 600;
    font-family: var(--font-sans);
}

@media (max-width: 768px) {
    #hero .image-container {
        display: none;
    }
}
